---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Aarnav Singh" description="About Aarnav Singh">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/work.jpg"
					alt="Aarnav Singh at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am an international student from <a href="https://g.co/kgs/rcGBZEa/" target = "_blank">Hyderabad</a>, India. 
						I moved to Minnesota in August, 2019 to pursue my undergraduate degree in computer science and have called it home since!
						Although I am only 22 moving to the United States by myself at age 17 has provided me with a unique set of experiences and an unwavering confidence in my abilities.
						All my work revolves around creating visually appealing and user centric design. 
						I strive to create webpages with a responsive, consistent and accessible UI/UX design that not only resonates with my client
						but also drives and retains user engagement!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>B.S. in Computer Science from <a href="https://csp.edu/" target = "_blank">Concordia University Saint Paul</a>, 2019-2023</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Relevant Coursework</h2>
				<div class="content">
					<p>Database Design, Data Structures and Algorithms, Client Side Web Development, Server Side Web Development, Computer Architecture, Software Engineering, Object Oriented Programming with Java</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
