---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack Experience</h2>
		<p>Proven expertise in developing context-aware, full stack applications using technologies 
		such as React, Node.js, and database systems. Successfully showcased a React application built 
		on the OpenAI developer platform to potential investors, highlighting comprehensive 
		understanding of both front-end and back-end development.</p>
	</div>

	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Imaginative Problem Solver</h2>
		<p>Consistently demonstrated creativity and problem-solving skills in various projects, such as 
		designing user-friendly UI/UX interfaces and integrating innovative features like dynamic elements, 
		embedded maps, and real-time updating forms to streamline reservations and improve user engagement. 
		</p>
	</div>

	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Desire To Learn and Grow</h2>
		<p>I am eager to expand my knowledge and skills in the ever-evolving field of technology. 
		I actively pursue certifications in various fields such as data privacy, information security, 
		and machine learning from some of the worlds top universities such as Duke and Georgia Tech! 
		I'm committed to continuous learning and staying updated with the latest industry trends and advancements.
		</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
